<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
          <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>



    <body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Mon Site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('create_tag') }}">Ajouter tag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('createpost') }}">Ajouter post</a>
                    </li>
                       <li class="nav-item">
                        <a class="nav-link" href="{{ path('post_index') }}">Les Posts</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">inscription</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">connexion</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
        {% block body %}
        
         <div class="container">
        </div>
        
        
        {% endblock %}
       
        <footer>
        <!-- Votre contenu de pied de page ici -->
        
            <p>&copy; 2023 Mon Site. Tous droits réservés.</p>
        
    </footer>
    </body>
</html>
