{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <p>Ajouter un lien d'image {{ form_row(form.image) }} </p>
   

    <button type="submit" class="btn btn-primary">Save Changes</button>

    {{ form_end(form) }}

    <a href="{{ path('app_home') }}" class="btn btn-secondary">Cancel</a>
{% endblock %}
