{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


    <div class="container">
     <h1>List of Posts</h1>
    
    <ul>
        {% for post in posts %}
            <li>
        <h2>{{ post.title }}</h2>

      
            <p>  <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="Image"> </p>
        <h2>
        {{ post.content|slice(0, 200) ~ (post.content|length > 200 ? '...' : '') }}
                    {% if post.content|length > 200 %}
                        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">Lire la suite</a>
                    {% endif %}  <h2>
          <p>Créé le : {{ post.createdAt|date('Y-m-d H:i:s') }}</p> {# Use the date filter to format createdAt #}
             
    </li>
                
             {#   <p>Created at: {{ post.created_at|date('Y-m-d H:i:s') }}</p> #}
                <!-- Ajoutez d'autres informations de l'article si nécessaire -->
           
        {% endfor %}
    </ul>
    </div>
{% endblock %}





