{% extends 'base.html.twig' %}
{% block title %}Hello Alltagshow!{% endblock %}
{% block body %}
    <h1>Tags</h1>
    <ul>
       <h1>Posts with tag "{{ tag.name }}"</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
                <li>{{ post.content }}</li>
                <li>{{ post.createdAt|date('Y-m-d H:i:s') }}</li>
                <li> <img src="{{ post.image }}" alt="image de {{ post.image }}"/>  </li>
             
        {% endfor %}
    </ul>
    </ul>
{% endblock %}
